<div class="container-sm">
  <div class="jumbotron jumbotron-fluid text-center"> 
    <div class="container-fluid">
      <h1 class="display-5 text-black-50 lead" style="font-size: 30px;"> <b class="font-weight-bolt " style="color: rgb(102, 52, 52);"> הג'חנון</b> של סמדר </h1>
        <p class="text-black-50">
          !!! חדש חדש חדש
          <br>
          הג'חנון של סמדר
          <br>
          רוצים להתפנק בשבת מג'חנון עבודת בית - טעים נקי ואיכותי
          <br>
          המארז כולל ג'חנון, רסק, סחוג וביצה
          ועולה 18 ש"ח 
          <br>
          מבצע 5 מנות ג'חנון 80 ש"ח 
          <br>
          ההזמנות מתקבלות עד שישי בבוקר
          <br>
          אפשרות למשלוח במודיעין בעלות של 10 ש"ח
          <br>
          קבלת המארזים והמשלוחים משעה 8 בבוקר בשבת
          <br> 
          הקדימו להזמין
        </p> 
      <a href="/order" class="btn btn-outline-primary btn-lg">הזמנה</a>
    </div>
  </div>
</div> 

<style>
  .container-sm {
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(139, 102, 102, 0.327);
    border-radius: .3rem;
    margin-bottom: 30px;
  }
  .jumbotron {
    border-radius: .3rem;
    padding-right: 30px;
    padding-left: 30px;
  }
  .btn-fluid {
    float: right;
  }
  </style>


