<div class="container ">
  <div class="jumbotron jumbotron-fluid text-center mt-1 mb-1">
      <h1 class="display-5 text-black-50"> <b class="font-weight-bolt " style="color: rgb(102, 52, 52);"> הג'חנון</b> של סמדר </h1>
      <p class="lead">...</p>
      <a href="/order" class="btn btn-outline-primary btn-lg">הזמנה</a>
  </div>
</div>