<div class="container-sm">
  <div class="jumbotron jumbotron-fluid text-center"> 
    <div class="container-fluid">
      <h1 class="display-5 text-black-50 lead" style="font-size: 30px;"> <b class="font-weight-bolt " style="color: rgb(102, 52, 52);"> הג'חנון</b> של סמדר </h1>
      <p class="lead">...</p>
      <a href="/order" class="btn btn-outline-primary btn-lg">הזמנה</a>
    </div>
  </div>
</div> 

<style>
  .container-sm {
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(139, 102, 102, 0.327);
    border-radius: .3rem;
    margin-bottom: 30px;
  }
  .jumbotron {
    border-radius: .3rem;
    padding-right: 30px;
  }
  .btn-fluid {
    float: right;
  }
  </style>


