<div class="container-sm">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
      <h1 class="display-5 text-black-50 mb-3 mt--3">ג'חנון אישי</h1>
      <p class="text-black-50" style="font-size: 20px;">מחיר : 18 ש"ח</p> 
      <p class="text-black-50" style="font-size: 20px;">מבצע 5 מנות ג'חנון ב - 80 ש"ח</p> 
      <div class="container-fluid">
         <img src="1.jpeg" class="img-fluid" alt="...">
      </div>
      <a href="/order" class="btn-fluid btn-primary btn-lg mb-3">הזמנה</a> 
      <div>  
        <p class="text-black-50">
          !!! חדש חדש חדש
          <br>
          .הג'חנון של סמדר
          <br>
         ? רוצים להתפנק בשבת מג'חנון עבודת בית - טעים נקי ואיכותי
          <br>
          המארז כולל ג'חנון, רסק, סחוג וביצה
          .ועולה 18 ש"ח 
          <br>
          .מבצע 5 מנות ג'חנון 80 שח 
          <br>
          .ההזמנות מתקבלות עד שישי בבוקר
          <br>
          .אפשרות למשלוח במודיעין בעלות של 10 ש"ח
          <br>
          .קבלת המארזים והמשלוחים משעה 8 בבוקר בשבת
          <br> 
          .הקדימו להזמין
        </p> 
      </div>   
    </div>
    </div>
  </div>  
</div>


<style>
  .container-sm {
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(139, 102, 102, 0.327);
    border-radius: .3rem;
    margin-bottom: 30px;
  }
  .container-fluid {
    margin-top: -50px;
  }
  .jumbotron {
    border-radius: .3rem;
  }
  .img-fluid {
    width: 250px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: .3rem;
    padding-top: 20px;
  }
  .text-black-50 {
    margin-top: 30px;
  }
</style>


