<div class="container">
  <div class="jumbotron jumbotron-fluid text-right mt-1 mb-1">
    <div class="container" style="padding-right: 25px;">
      <h1 class="text-black-50" style="font-size: 27px;">ג'חנון אישי</h1>
      <p class="text-black-50" style="font-size: 20px;">$ :מחיר</p>  
      <a href="/order" class="btn btn-outline-primary btn-lg mt-2">הזמנה</a>
      <div class="text-center">
        <img src="" alt="">
      </div>      
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron jumbotron-fluid text-right  mt-3 mb-1">
    <div class="container" style="padding-right: 25px;">
      <h1 class="text-black-50" style="font-size: 27px;">ג'חנון זוגי</h1>
      <p class="text-black-50" style="font-size: 20px;">$ :מחיר</p> 
      <a href="/order" class="btn btn-outline-primary btn-lg mt-2">הזמנה</a>
      <div class="text-center">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="jumbotron jumbotron-fluid text-right  mt-3 mb-1">
    <div class="container" style="padding-right: 25px;">
     <h1 class="text-black-50" style="font-size: 27px;">סיר ג'חנון</h1>
     <p class="text-black-50" style="font-size: 20px;">$ :מחיר</p> 
     <a href="/order" class="btn btn-outline-primary btn-lg mt-2">הזמנה</a> 
     <div class="text-center">
      <img src="" alt="">
     </div>
    </div>
  </div>
</div>  



