<div class="container">
  <div class="jumbotron jumbotron-fluid text-center mt-1 mb-1">
    <div class="container">
      <h1 class="display-5 text-black-50">הזמנה</h1>
      <p class="font-weight-bolt" style="font-size: 20px;">05466688884</p>
    </div>
  </div>
</div>