<div class="container-sm">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid"></div>
      <div class="container">
        <h1 class="display-5 text-black-50" style="font-size: 30px;" >הזמנה</h1>
        {{!-- <p class="font-weight-bolt">05466688884</p> --}}
        <a href= https://wa.me/<number> 05466688884 <number> 05466688884 </a>
      </div>
    </div>
  </div>
</div>

  <style>
  .container-sm {
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(139, 102, 102, 0.327);
    border-radius: .3rem;
    margin-bottom: 30px;
  }
  .jumbotron {
    border-radius: .3rem;
    padding-right: 30px;
  }
  .img-fluid {
    width: 250px;
    height: 300px;
    margin-top: 30px;
    margin-right: 200px;
    margin-bottom: 30px;
    border-radius: .3rem;
  }
  .btn-fluid {
    float: right;
  }
  </style>
