<div class="container">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-5 text-black-50">הזמנה</h1>
      <p class="lead">05466688884</p>
    </div>
  </div>
</div>